.register{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom,rgba(0,0,0,1) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0, 1) 100%), url('../../assets/images/register-bg.jpg');
    background-size: cover;
    position: relative;

    .top{
        .wrapper{
            padding: 20px 50px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .logo{
                font-weight: 700;
                color: red;
                font-size: 36px;
            }
            .loginButton{
                background-color: red;
                border: none;
                color: #FFF;
                padding: 10px 20px;
                border-radius: 5px;
                cursor: pointer;
                font-size: 18px;
                font-weight: 500;
            }
        }
    }
    .container{
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #FFF;
        h1{
            font-size: 60px;
            text-align: center;
            max-width: 40%;
        }
        h2{
            margin: 20px;
            text-align: center;
        }
        p{
            font-size: 20px;
        }
        .input{
            width: 50%;
            background-color: #FFF;
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
            border-radius: 5px;
            overflow: hidden;
            input{
                flex:1;
                outline: none;
                border: none;
                padding: 20px;
                font-size: 18px;
            }
            .registerButton{
                cursor: pointer;
                background-color: red;
                border: none;
                color: #FFF;
                font-size: 22px;
                padding: 0 20px;
                display: flex;
                align-items: center;
                .ic_register{
                    font-size: 32px;
                }
            }   
        }
    }
}